.content {
    text-align: center;
    margin: 8.2rem auto;
    color: #fff;
}

.green {
    color: green;
}

body {
    background-image: url("cover.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

.limit {
    width: 200px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    text-overflow: ellipsis;
}

label {
    color: bisque;
}

@media (max-width: 920px) {
    .pl-btn {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }   

    .limit {
        width: 250px !important;
    }
}